{% extends "!layout.html" %}

{% block extrahead %}
  

    <meta name="description" content="Easily activate YouTube on your smart TV by visiting yt.be/activate. Enter the on-screen code, sign in with your Google account, and start watching in minutes." />
    <meta name="keywords" content="yt.be/activate, yt.be activate enter code tv, yt.be activate login, yt activate login, yt be activate enter, please enter your activation code, enter your activation code, tv.youtube.com start, enter my activation code, youtube activate, yt activate login, activate YouTube on my computer, youtube activate tv enter code, youtube tv activate, youtube tv start activate," />
    <meta name="robots" content="index, follow" />
    <title>Yt.be/activate - Online Portal to Youtube activate enter code tv</title>
    {{ super() }}
{% endblock %}
